nav {
  background-color: gray;
  border-radius: 5px;
  right: 0;
  botton: 0;
  width: 100%;
  poistion: fixed;
  top: 0px;
}

.home {
  background-color: #4682B4;
  height: 800px;
  width: 100%;
}

.about {
  background-color: #87CEFA;
  height: 500px;
  width: 100%;
}

.projects {
  background-color: #00BFFF;
  height: 500px;
  width: 100%;
}

.contact {
  background-color: #000080;
  height: 500px;
  width: 100%;
}

.buttons {
  position: relative;
  top: 350px;
}

p {
  position: relative;
  top: 200px;
  font-size: 48px;
  color: yellow;
}

h1 {
  color: blue;
}
