body {
  background-color: #BCBCCA;
}
ul li {
  display: inline-block;
  background-color: #7070FF;
  text-align: center;
  font-family:sans-serif;
  padding-top: 15px;
  margin-right:5px;
  font-size:25;
  height:50;
  width:150;
  
  
}
